/**
 * Game page
 */

 @use 'breakpoints';


.game-section {
    padding: 2rem;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}

.game-sidebar {
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #1a2c38;
    padding: 1.5rem;
    border-radius: 0.5rem;
    order: 1
}

.game-sidebar-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.bet-label-group {
    width: 100%;
    display: flex;
    flex-direction: row wrap;
    align-items: flex-end;
    justify-content: space-around;
}

.bet-label-group label {
    flex: 1;
    text-align: left;
}

.bet-label-group span {
    flex: 2;
    text-align: right;
    font-weight: 500;
    font-size: 0.8rem;
    color: #427ca1;
}

.help-section {
    padding-top: 1rem;
    flex-direction: row;
    justify-content: space-between;
}

.game-sidebar-section .btn {
    margin: 0;
}

.game-sidebar-section label,
.game-sidebar-section input {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
}

.game-sidebar-section input {
    padding: 0.5rem 0.5rem;
    background: transparent;
    border: solid 2px #314c5d;
    color: white;
    border-radius: 3px;
}

.game-sidebar-section .stats {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.25rem;
    text-align: left;
    font-weight: 400;
    font-size: 1rem;
    background: #1e3544;
    padding: 1rem;
    border-radius: 3px;
    white-space: nowrap;
}

#minecountindicator,
#moneyfoundindicator,
#mineriskindicator {
    text-align: right;
    font-weight: 500;
}

.game-grid-container {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-gap: 1rem;
    order: 1;
}

.grid-item {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
    transition: 0.2s;
    border-radius: 0.5rem;
}

.grid-item::before {
    content: '';
    display: block;
    padding-top: 100%; /* This will make the height equal to 100% of the width */
    /* Since it's a square, it will keep the aspect ratio of 1:1 */
}

.grid-item-active {
    background-color: #1475e1;
    cursor: pointer;
}

.grid-item-active:hover {
    top: -2px;
    background-color: #3c3cff;
}

.mine-clicked,
.mine-clicked:hover {
    background-color: red;
}

.money-clicked,
.money-clicked:hover {
    background-color: green;
}

.win {
    background-color: yellow;
}

.win:hover {
    background-color: yellow;
}

.game-over,
.game-over:hover {
    background-color: red;
}

.hide {
    display: none !important;
}

@media (max-width: breakpoints.$breakpoint-sm) {

    .game-section {
        gap: 1rem;
    }

    .game-section {
        padding: 1rem;
    }

    .game-grid-container {
        width: 100%;
    }

    .game-sidebar {
        width: 100%;
        order: 2;
    }
}

@media (min-width: breakpoints.$breakpoint-sm) {
    .game-section {
        padding: 2rem 2rem
    }

    .game-grid-container {
        width: 50%;
    }
}

@media (min-width: breakpoints.$breakpoint-md) {

    .game-section {
        padding: 2rem 0rem
    }

    .game-grid-container {
        width: 60%;
    }
}

@media (min-width: breakpoints.$breakpoint-lg) {

    .game-section {
        padding: 2rem 5rem
    }

    .game-grid-container {
        width: 60%;
    }
}

@media (min-width: breakpoints.$breakpoint-xl) {

    .game-section {
        padding: 2rem 7rem
    }

    .game-grid-container {
        width: 55%;
    }
}

@media (min-width: breakpoints.$breakpoint-xxl) {

    .game-section {
        padding: 2rem 15rem
    }

    .game-grid-container {
        width: 60%;
    }
}