@mixin flexbox-layout($flow, $wrap, $justify, $align) {
    display: flex;
    flex-flow: $flow $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin bg-image($fallback-color, $image, $size, $position, $repeat) {
    background-color: $fallback-color;
    background-image: url($image);
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}