header {
    padding: 1rem 5rem;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: #1a2c38;
}

#header-logo {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

header ul li {
    display: inline;
}