@use 'breakpoints';
@use 'colors';
@use 'mixins';

header {
    padding: 1rem 5rem;
    width: 100vw;
    @include mixins.flexbox-layout(row, wrap, space-between, center);
    gap: 1rem;
    background-color: colors.$dblue-90;
}

#header-logo {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Dela Gothic One', sans-serif;
}

header ul {
    @include mixins.flexbox-layout(row, nowrap, space-between, center);
    gap: 2rem;
}

header ul li {
    display: inline;
}

@media (max-width: breakpoints.$breakpoint-md) {
    header {
        padding: 1rem;
        justify-content: center;
    }
}

@media (min-width: breakpoints.$breakpoint-lg) {
    header {
        padding: 1rem 5rem;
        justify-content: space-between;
    }
}