*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #0f212e;
    color: white;
}

body {
    width: 100vw;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    scroll-snap-type: both mandatory;
}

a {
    color: white;
}

ul li {
    list-style: none;
}