*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #0f212e;
    color: white;
}

body {
    width: 100vw;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    scroll-snap-type: both mandatory;
}

h1,
h2,
h3 {
    margin: 1rem 0;
}

a {
    color: white;
}

ul li {
    list-style: none;
}

button,
input {
    font-family: 'Poppins', sans-serif;
}

table {
    table-layout: fixed;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

thead th:nth-child(1) {
    width: 25%;
}

thead th:nth-child(2) {
    width: 25%;
}

thead th:nth-child(3) {
    width: 25%;
}

thead th:nth-child(4) {
    width: 25%;
}

thead {
    border-bottom: solid 0.1rem #2f5975;
}

th {
    vertical-align: bottom;
}

th,
td {
    padding: 0.5rem 1.5rem;
}