*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #0f212e;
  color: white;
}

body {
  width: 100vw;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  scroll-snap-type: both mandatory;
}

h1, h2, h3 {
  margin: 1rem 0;
}

a {
  color: white;
}

ul li {
  list-style: none;
}

button,
input {
  font-family: "Poppins", sans-serif;
}

header {
  padding: 1rem 5rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: #1a2c38;
}

#header-logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  font-family: "Dela Gothic One", sans-serif;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

header ul li {
  display: inline;
}

/**
 * Game page
 */
.game-section {
  padding: 2rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}

.game-sidebar {
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #1a2c38;
  padding: 1.5rem;
  border-radius: 0.5rem;
  order: 2;
}

.game-sidebar-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.bet-label-group {
  width: 100%;
  display: flex;
  flex-direction: row wrap;
  align-items: flex-end;
  justify-content: space-around;
}

.bet-label-group label {
  flex: 1;
  text-align: left;
}

.bet-label-group span {
  flex: 2;
  text-align: right;
  font-weight: 500;
  font-size: 0.8rem;
  color: #427ca1;
}

.help-section {
  padding-top: 1rem;
  flex-direction: row;
  justify-content: space-between;
}

.game-sidebar-section .btn {
  margin: 0;
}

.game-sidebar-section label,
.game-sidebar-section input {
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
}

.game-sidebar-section input {
  padding: 0.5rem 0.5rem;
  background: transparent;
  border: solid 2px #314c5d;
  color: white;
  border-radius: 3px;
}

.game-sidebar-section .stats {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.25rem;
  text-align: left;
  font-weight: 400;
  font-size: 1rem;
  background: #1e3544;
  padding: 1rem;
  border-radius: 3px;
  white-space: nowrap;
}

#minecountindicator,
#moneyfoundindicator,
#mineriskindicator {
  text-align: right;
  font-weight: 500;
}

.game-grid-container {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-gap: 1rem;
  order: 1;
}

.grid-item {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
  transition: 0.2s;
  border-radius: 0.5rem;
}

.grid-item::before {
  content: "";
  display: block;
  padding-top: 100%; /* This will make the height equal to 100% of the width */
  /* Since it's a square, it will keep the aspect ratio of 1:1 */
}

.grid-item-active {
  background-color: #1475e1;
  cursor: pointer;
}

.grid-item-active:hover {
  top: -2px;
  background-color: #3c3cff;
}

.mine-clicked,
.mine-clicked:hover {
  background-color: red;
}

.money-clicked,
.money-clicked:hover {
  background-color: green;
}

.win {
  background-color: yellow;
}

.win:hover {
  background-color: yellow;
}

.game-over,
.game-over:hover {
  background-color: red;
}

.hide {
  display: none !important;
}

@media (max-width: 576px) {
  .game-section {
    gap: 1rem;
  }
  .game-section {
    padding: 1rem;
  }
  .game-grid-container {
    width: 100%;
  }
  .game-sidebar {
    width: 100%;
  }
}
/** 
 * General page setup
 */
section {
  width: 100vw;
  padding: 10rem 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.landing-section {
  margin: 0;
  padding: 0;
  height: calc(100vh - 68px);
  flex-direction: column wrap;
}

.landing-section > * {
  padding: 5rem;
  width: 50vw;
  height: 100%;
}

.landing-section h1,
.landing-section h2 {
  margin: 0;
}

.landing-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.landing-image-container {
  background-color: blue;
  background-image: url("../assets/landing-bg-flipped.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.landing-content {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-section {
  max-width: 50rem;
}

/**
 * Button styles
 */
.btn {
  font-size: 1rem;
  display: inline-block;
  background: linear-gradient(180deg, #FECB2E 0%, #FA9917 100%);
  color: #000;
  padding: 0.5rem 1.25rem;
  border-radius: 10px;
  margin: 0;
  border: none;
  cursor: pointer;
}

.btn-default {
  font-size: 1rem;
  margin: 0.5rem 0rem;
  padding: 0.75rem 0.5rem;
  border-radius: 3px;
  color: black;
  font-weight: 600;
  background-color: lime;
}

.btn-landing {
  font-size: 1.3rem;
  margin: 1rem 0rem;
  padding: 0.75rem 2.25rem;
  border-radius: 2rem;
  background: linear-gradient(180deg, #FECB2E 0%, #FA9917 100%);
  color: black;
}

.btn-dark {
  background: #1e3544;
  color: #fff;
}

/**
 * General text styling
 */
a {
  text-decoration: none;
  font-weight: 600;
}

h1 {
  font-size: clamp(1rem, 5vw, 6rem);
  font-weight: 700;
  font-family: "Dela Gothic One", sans-serif;
  background: linear-gradient(180deg, #FECB2E 0%, #FA9917 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

h2 {
  font-size: 3rem;
}/*# sourceMappingURL=style.css.map */