@use 'reset';
@use 'nav';
@use 'game';
@use 'breakpoints';

/** 
 * General page setup
 */

section {
    width: 100vw;
    padding: 10rem 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

section:nth-child(even) {
    background-color: #152f41;
}

// landing section
.landing-section {
    margin: 0;
    padding: 0;
    height: calc(100vh - 68px);
    flex-flow: column wrap;
}

.landing-section>* {
    padding: 5rem;
    width: 50vw;
    height: 100%;
}

.landing-section h1,
.landing-section h2 {
    margin: 0;
}

.landing-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.landing-image-container {
    background-color: blue;
    background-image: url("../assets/landing-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.landing-content {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// general fullscreen text sections
.text-section {
    max-width: 50rem;
}

/**
 * Button styles
 */

.btn {
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    background: linear-gradient(180deg, #FECB2E 0%, #FA9917 100%);
    color: #000;
    padding: 0.5rem 1.25rem;
    border-radius: 10px;
    margin: 0;
    border: none;
    cursor: pointer;
}

.btn-default {
    font-size: 1rem;
    margin: 0.5rem 0rem;
    padding: 0.75rem 0.5rem;
    border-radius: 3px;
    color: black;
    font-weight: 600;
    background-color: lime;
}

.btn-landing {
    font-size: 1.3rem;
    margin: 1rem 0rem;
    padding: 0.75rem 2.25rem;
    border-radius: 2rem;
    background: linear-gradient(180deg, #FECB2E 0%, #FA9917 100%);
    color: black;
}

.btn-dark {
    background: #1e3544;
    color: #fff;
}

/**
 * General text styling
 */

a {
    text-decoration: none;
    font-weight: 600;
}

h1 {
    font-size: clamp(3rem, 5vw, 6rem);
    font-weight: 700;
    font-family: 'Dela Gothic One', sans-serif;
    background: linear-gradient(180deg, #FECB2E 0%, #FA9917 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

h2 {
    font-size: clamp(2rem, 4vw, 3rem);
}

/**
 * Tables styles
 */

th,
td {
    padding: 0.5rem 1.5rem;
}

/**
 * Media queries
 */

@media (max-width: breakpoints.$breakpoint-sm) {
    .landing-section {
        flex-flow: column;
    }

    .landing-section>* {
        padding: 1rem;
        width: 100vw;
        height: 50%;
    }

    th,
    td {
        padding: 0;
    }

}

@media (min-width: breakpoints.$breakpoint-sm) {
    .landing-section {
        flex-flow: column;
    }

    .landing-section>* {
        padding: 5rem;
        width: 100vw;
        height: 50%;
    }

    th,
    td {
        padding: 0;
    }

}

@media (min-width: breakpoints.$breakpoint-lg) {
    .landing-section {
        flex-flow: row;
    }

    .landing-section>* {
        padding: 5rem;
        width: 50vw;
        height: 100%;
    }

    th,
    td {
        padding: 0.5rem 1.5rem;
    }

}